body{
    padding: 0px;
}
.logo {
    width: 180px;
    height: 60px;
}

/* .navbg{
    background-color: #FFFFFF !important;
} */

/* .navbar-light{
    color: #559CB5 !important;
} */

.nav-link{
    color: #559CB5 !important;
    font-size: 20pt;
}

.login{
    font-size: 15px;
    background-color: #003D4C;

}

.nameTable{
    height:40px !important
    
}

.row-header{
    height:40px !important;
    background-color: #0B4F60;
    color: white;
    font-size: 14px;
}

.row-content{
    height:100%!important;

}
.info{
    color: #187795 ;
}
.location{
    border: 1px gainsboro solid;
}

#showInfo{
    border: none;
    border-color: transparent;  
}
.info-form{
    border: 1px gainsboro solid;
    font-size: 10px;
}

.people{
    font-size: 30pt;
}

.perRoster{
    height: 100%;
    
}

/* #camp-week{
    height: 40px!important;
} */

.autocomplete {
    background: #fff;
    z-index: 1;
    position: relative;
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
    border-color: #187795;
  }
  .autocomplete .close {
    position: absolute;
    font-size: 13px;
    z-index: 10;
    top: 10px;
    left: calc(100% - 50px);
    color: #aaa;
    cursor: pointer;
    display: none;
  }
  .autocomplete .close.visible {
    display: block;
  }
  
  #autocomplete_modal {
    background: #fff;
    position: relative;
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.24);
  }
  #autocomplete_modal .close {
    position: absolute;
    font-size: 13px;
    z-index: 10;
    top: 10px;
    left: calc(100% - 50px);
    color: #aaa;
    cursor: pointer;
    display: none;
  }
  #autocomplete_modal .close.visible {
    display: block;
  }


  input {
    padding: 10px 10px;
    font-weight: 300;
    width: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    color: #666;
  }

  /*  */
  .dialog {
    /* width: 100%; */
    display: none;
    min-height: 40px;
      max-height: 330px;
    overflow: scroll;
    border-top: 1px solid #f4f4f4;
  }
  .dialog.open {
    display: block;
  }
  .dialog div {
    padding: 10px 10px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s;
  }
  .dialog div:hover {
    background: #f2f2f2;
  }

  /*  */

  #dialog {
    /* width: 100%; */
    display: none;
    min-height: 40px;
      max-height: 330px;
    overflow: scroll;
    border-top: 1px solid #f4f4f4;
  }
  
  #dialog.open {
    display: block;
    position: absolute;
    background-color: white;
    z-index: 20;
  }
  #dialog div {
    padding: 10px 10px;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.2s;
  }
  #dialog div:hover {
    background: #f2f2f2;
  }

  .submit{
    width:200px;
  }

  .reset{
    width:100px;
  }

  .edit,.del{
    font-size: 15px!important;
    padding:0px 1px;
  }

#logout{
  font:white;
}

  