body{
    color:rgb(116, 116, 116);
}
.nav-link{
    color: #559CB5 !important;
    font-size: 20pt;
}
.logo{
    width: 10%;
}
.people{
    width:100%;
    font-size: 30pt;
}
#search{
   width: 100%;
}

#employee_btn{
    display:block;
    width:50%;
}

.employee_info{
    color:#187795;

}
#employee_location{
    color:#28a745 !important;
}
