.leftCol{
    width:15vw;
    height:100vh;
}

.logo {
    width: 180px;
    height: 60px;
}

.nav-link{
    color: #559CB5 !important;
    font-size: 20pt;
}

.login{
    font-size: 15px;
    background-color: #003D4C;
}

#proPicBorder{
    width: 90%;
    height:250px;

}

#proPic{
    width:100%;
    height:100%;
}

.blank{
    width: 30px;
    height: 100vh;
    
}

#pending{
    height:20%;
    width: 70vw;
}

.personalRoster{
    height:30vh;
    
}