

html, body{
    width:100%;
    background: #071935;
}
#particles-js{
    background: url('./static/412203-free-world-map-wallpaper-high-resolution-1920x1080.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top:10vw;
    border:0.5vw solid #187795;
    width:100%;
}

.logo-pic{
    display:flex;
    justify-content: center;
    width: 30%;
    height: 30%;
}
#login-section{
    position: absolute;
    left:50%;
    right:50%;
    transform: translate(-50%, -50%);
    width:50%;
    border: 0.5vw solid #187795;
    margin: 18vw;
    padding: 1vw;
    background-color:white;
    
}
.input_info{
    width:50%;
    height:100%;
    font-size: 1vw;
    margin: 0 auto;
}
#employee-login{
    display:flex;
   justify-content: center;
   margin:0 auto;

} 
 #name{
    display:flex;
    justify-content: center;
    font-size: 1.5vw;
    padding-bottom: 1vw;
    margin:0 auto;
}
#password{
    display:flex;
    font-size: 1.5vw;
   justify-content: center;
   padding-bottom: 1vw;
   margin:0 auto;
}
#clear{
    display:block;
    float:right;
}

#submit{
    display:block;
    float: left;
}
